body{margin:0px;padding:0px;font-family: "微软雅黑";font-size: 11px;}
a{text-decoration: none;}
img{border:0px;}
ul,li{list-style: none;padding:0px;margin:0px;}
.nav_wrap{background: #333333;width:100%;height:40px;}
.nav{width:1250px;background:red;margin:0px auto;}
.nav li{float:left;line-height: 40px;padding:0px 8px;}

.nav .nav_right{float: right}
/**/
.nav .nav_shopping{background: #424242;padding:0px 10px 0px 35px;background-image: url(../images/cart.png);background-repeat: no-repeat;background-size: 20px;background-position: 10px 10px;}
.nav .items{width:1px;border:solid #b0b0b0;opacity:0.2;border-width:0px 1px 0px 0px;line-height:14px;margin-top:14px;padding:0px;display: block;}
.nav li a{color:#b0b0b0;}
.nav li a:hover{color:white;}
.nav .nav_shopping:hover{background-image: url(../images/cart_1.png);}
.nav .nav_shopping:hover a{color: #ff6700;}
/**/
.subnav{width:100%;position: relative;}
.subnav .container{width:1250px;height:50px;padding:30px 0px;margin:0px auto;position: relative;}
.subnav .logo{width:200px;float:left;}
.subnav .nav_subnav{float:left;}
.nav_subnav ul{height:57px;}
.nav_subnav li{float:left;line-height: 57px;font-size: 16px;}
.nav_subnav li a{color:#332B2B;display: inline-block;padding:0px 15px;}
.nav_subnav li a:hover{color:#ff6700;}
.nav_subnav .mi_type{width:100%;display:none;position: absolute;left:0px;top:86px;z-index: 10;}
.nav_subnav .mi_goods{background: white;width:100%;line-height: 200px;margin-top: 24px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;box-shadow:0px 2px 2px #ddd;}
.nav_subnav .mi_goods .mi_container{width:1200px;margin:0px auto;background: white;height:200px;}
.nav_subnav .mi_goods .mi_container a{text-align:center;float:left;display: block;margin-top:25px;position: relative;background: white;height:150px;width:160px;}
.nav_subnav .mi_goods .mi_container .items{display: inline-block;width:1px;border-right:1px solid #ddd;height: 100px;float:left;margin-top:24px;}
.mi_container a img{width:160px;height:110px;}
.mi_container a p{margin:0px;padding:0px;bottom:0px;left:0px;color:#595555;line-height:15px;position:absolute;width:100%;font-size:12px;}
.mi_container a p .top{border:1px solid #ff6700;color: #ff6700;position: absolute;top:-146px;left:60px;padding:1px 15px;}
.mi_container a p span{color:#ff6700;}
/**/
.subnav_right{position: absolute;right:0px;height:57px;line-height: 57px;}
.subnav_right ul li{float:left;font-size:16px;padding:0px 13px;}
.subnav_right ul li a{color:#332b2b;}
.subnav_right ul li a:hover{color:#ff6700;}
.subnav_right ul .mi_search{position: relative;padding:0px 60px 0px 10px;}
/**/
.subnav_right ul .mi_search .hot{position: absolute;font-size: 11px;left:80px;top:20px;background: #ddd;line-height: 15px;padding:2px 5px;}
.subnav_right ul .mi_search .hot_{position: absolute;font-size: 11px;right:85px;top:20px;background: #ddd;line-height: 15px;padding:2px 5px;}
.mi_search .hot:hover{color:white;background:#ff6700!important}
.mi_search .hot_:hover{color:white;background: #ff6700!important}
/**/
.subnav_right ul li .search{border:1px solid #ddd;line-height: 45px;margin-top:5px;width:230px;float:left;}
.subnav_right ul li .search:hover{border-color: #B4ADAD}
.subnav_right ul li .search_submit{border:solid #ddd;background: white;border-width:1px 1px 1px 0px;position: absolute;top:5px;height:49px;background-image: url("../images/mi_38.png");background-repeat: no-repeat;width:55px;background-position: 3px 1px;}
.subnav_right ul li .search_submit:hover{border:solid #ff6700!important;border-width: 1px 1px 1px 0px;background: #ff6700;background-image: url("../images/mi_39.png");background-repeat: no-repeat;background-position: -1px 0px}
/**/
.mi_search ul{position: absolute;top:54px;border:solid #ff6700;border-width: 0px 1px 1px 1px;width:232px;background: white;display: none;z-index: 10;}
.mi_search ul li{clear:both;font-size: 11px;padding:0px;line-height: 15px;padding:8px 10px;width:212px;}
.mi_search ul li:hover{background: #F7F4F4;}
.mi_search ul li a:hover{color:#332B2B;}
/**/
.nav_ad{width:1250px;margin:0px auto;position: relative;}
#logo{width:1250px;height:460px;margin:0px auto;position: relative;}
#logo .left{position: absolute;left:240px;top:42%;}
#logo .right{position: absolute;right:30px;top:42%;}
#logo .left img{padding:10px 5px;}
#logo .right img{padding:10px 5px;}
#logo .left:hover img{background: #595252;}
#logo .right:hover img{background: #595252;}
#logo img{position: absolute;}
#logo_btn{position: absolute;bottom: 10px;right: 0;}
#logo_btn li{width: 20px;height: 20px;margin:0px 5px;text-indent: -9999px;line-height: 50px;text-align: center;background: #FFFFFF;border-radius: 25px;float: left;color: #000000;}
#logo_img li img{position: absolute;height:100%;width:100%;}
#logo .active{background: yellow;color: red;}
/**/
.nav_ad .mi_goods{position: absolute;top:0px;width:240px;background:rgba(70,64,64,.7);height:100%;}
.nav_ad .mi_goods .mi_type{margin-top:20px;position: relative;}
.nav_ad .mi_goods .mi_type li{padding:11px 0px;}
.nav_ad .mi_goods .mi_type>li:hover{background: #ff6700;}
.nav_ad .mi_goods .mi_type li a{color:white;font-size:14px;padding-left:20px;}
.nav_ad .mi_goods .mi_type li>span{position: absolute;right:10px;background-image: url(../images/more.png);background-repeat: no-repeat;background-size: 20px 25px;height:40px;width:25px;background-position: 0px -2px;}
.mi_type .mi_all{position: absolute;left:240px;height:458px;top:-20px;width:800px;background:white;display: none;border-top:2px solid #ddd;box-shadow:5px 10px 10px #ddd;}
.mi_type li:hover .mi_all{display: block;}
.mi_type .mi_all ul{float:left;width:250px;}
.mi_type .mi_all ul li{margin-top:10px;}
.mi_type .mi_all ul li a{height:100%;display: block;position: relative;}
.mi_type .mi_all ul li a .mi_name{position: absolute;top:8px;left:70px;color: #332b2b}
.mi_type .mi_all ul li a:hover .mi_name{color:#ff6700;}
.mi_type .mi_all ul li a .mi_checked{position: absolute;top:8px;right:10px;font-size:12px;border:1px solid #ff6700;padding:2px 15px;color:#ff6700;}
.mi_type .mi_all ul li a .mi_checked:hover{background: #ff6700;color:white;}
/**/
.mi_hot{width:1250px;margin:0px auto;margin-top:10px;background: white;height:180px;}
.mi_hot .mi_left{background:#5f5750;width:240px;height:180px;position:relative;overflow: hidden;float:left;}
.mi_hot .mi_left a {color:#9A9595;}
.mi_hot .mi_left a :hover{color:white;}
.mi_hot .mi_left a img{position: absolute;top:5px;left:20px;}
.mi_hot .mi_left a span{position:absolute;bottom:15px;left:25px}
.mi_hot .mi_left .mi_left_{position: absolute;display: block;height:89.5px;left:0px;width:86px;border-right:1px solid #ddd;text-align:center;}
.mi_hot .mi_left .mi_center_{position: absolute;display: block;height:89.5px;left:77px;width:86px;border-right:1px solid #ddd;text-align:center;}
.mi_hot .mi_left .mi_right_{position: absolute;display: block;height:89.5px;left:154px;width:86px;text-align:center;}
.mi_hot .mi_left .mi_left_1{position: absolute;display: block;height:89px;bottom:0px;width:86px;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:center;}
.mi_hot .mi_left .mi_center_2{position: absolute;display: block;height:89px;bottom:0px;left:77px;width:86px;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:center;}
.mi_hot .mi_left .mi_right_3{position: absolute;display: block;height:89px;bottom:0px;left:154px;width:86px;border-top:1px solid #ddd;text-align:center;}
/*============================================*/
.mi_hot .mi_ad{display: inline-block;height:180px;width:325px;margin-left: 9px;}
.mi_hot .mi_ad1{display: inline-block;height:180px;width:325px;margin-left: 9px;}
.mi_hot .mi_ad2{display: inline-block;height:180px;width:325px;margin-left: 9px;}
.mi_hot .mi_ad img{height:100%;width:100%;}
.mi_hot .mi_ad1 img{height:100%;width:100%;}
.mi_hot .mi_ad2 img{height:100%;width:100%;}
/**/
.mi_popularize{width:1250px;margin:0px auto;margin-top: 20px;overflow: hidden;}
.mi_popularize .mi_top{width:100%;height:30px;}
.mi_popularize .mi_top h1{color:#332B2B;font-weight: 300;float:left;margin:0px;}
.mi_popularize .mi_top h2{margin:0px;}
.mi_popularize .mi_right{float:right;border:1px solid #ddd;text-align: center;font-size:16px;}
.mi_popularize .mi_right .left{float:left;width:30px;border-right:1px solid #ddd;background-image: url(../images/back.png);background-repeat: no-repeat;background-size: 30px 20px;}
.mi_popularize .mi_right .left:hover{background-image: url(../images/back_1.png);}
.mi_popularize .mi_right .right{float:left;width:30px;background-image: url(../images/more_1.png);background-repeat: no-repeat;background-size: 30px 20px;}
.mi_popularize .mi_right .right:hover{background-image: url(../images/more_1.png);}
/**/
.mi_popularize  .mi_ad{width:1250px;clear: both;padding-top: 10px;height:360px;}
.mi_popularize  .mi_ad ul{width:5000px;height:340px;overflow: hidden;}
.mi_popularize  .mi_ad ul .items{margin:0px;}
.mi_popularize  .mi_ad ul li{font-size: 12px;display: inline-block;width:240px;margin-left:9px;text-align: center;height:100%;background: #f5f5f5;border-top:1px solid #ff6700;position: relative;}
.mi_popularize  .mi_ad ul li a{color:#333030;letter-spacing: 1px;}
.mi_popularize  .mi_ad ul li img{width:200px;height:200px;margin-top: 30px;}
.mi_popularize  .mi_ad ul li p .mi_ad_1{color:#716D6D;display: block;line-height: 20px;font-size: 11px;}
.mi_popularize  .mi_ad ul li p .mi_ad_2{color:#ff6700;display: block;line-height: 30px}
/*mi all goods*/
.mi_all_goods{width:100%;background: #f5f5f5;padding-top: 50px;height:100%;color:#332B2B;}
.mi_all_goods .hardware{width:1250px;margin:0px auto;}
.hardware .title{width:100%;height:30px;}
.hardware .title h1{font-weight: 300;float:left;margin:0px;}
.hardware .title h2{font-weight: 300;float:right;margin:0px;margin-top: 5px;}
.hardware .title h2 a{color:#332B2B;}
.hardware .title h2 strong{border-radius:50%;background: #686262;display: inline-block;width:20px;margin-left: 5px;text-align: center;color:white;}
.hardware .title h2 a:hover{color:#ff6700;}
.hardware .title h2 a:hover strong{background: #ff6700;}
/*mi all goods type*/
.mi_all_goods .mi_goods{width:1250px;margin:0px auto;clear:both;margin-top:10px;padding-bottom:20px;height:500px;}
.mi_all_goods .mi_goods .mi_left{float:left;width:240px;height:100%;transition: box-shadow 0.5s,margin-top 0.5s;}
.mi_all_goods .mi_goods .mi_left img{width:100%;height:100%;}
.mi_all_goods .mi_goods .mi_left:hover{box-shadow:0 2px 10px #7A7474; margin-top: -4px;}
.mi_all_goods .mi_goods .mi_center{float:left;width:1010px;}
.mi_all_goods .mi_goods .mi_center ul li{font-size:12px;display: inline-block;width:240px;height:245px;margin-left:9px;text-align:center;background: white;position: relative;margin-bottom:10px;transition: box-shadow 0.5s;}
.mi_all_goods .mi_goods .mi_center li a{color: #333030;letter-spacing: 1px;}
.mi_all_goods .mi_goods .mi_center li p .mi_ad_1{color:#716D6D;display: block;line-height: 20px;font-size: 11px;}
.mi_all_goods .mi_goods .mi_center li p .mi_ad_2{color:#ff6700;display: block;line-height: 20px}
.mi_all_goods .mi_goods .mi_center li p .hot{position: absolute;top:0px;background: #1CF351;color:white;padding:2px 20px;left:35%;}
.mi_all_goods .mi_goods .mi_center ul li:hover{box-shadow:0 2px 10px #7A7474;top: -4px;}
.mi_all_goods .mi_goods .mi_center ul li img{width:200px;height:160px;}
/*搭配*/
.mi_main{width:1250px;margin:0px auto;}
.mi_main .match{width:100%;height:50px;}
.mi_main .match h1{font-weight: 300;float:left;margin:0px;margin-top:10px;}
.mi_main .match .match_float{float:right;}
.mi_main .match .match_float ul li{float:left;margin-top:15px;margin-left:10px;border-bottom:2px solid #f5f5f5;}
.mi_main .match .match_float ul .items{color:#ff6700;border-color: #ff6700;}
/* .mi_main .match .match_float ul li:hover{border-color:#ff6700;} */
.mi_main .match .match_float ul li h2{margin:0px;font-weight: 500;}
/*搭配下边的商品*/
.mi_main .mi_match_main{width:100%;}
.mi_main .mi_match_main .match_left{width:240px;float:left;}
.mi_main .mi_match_main .match_left a{width:100%;display: block;height:300px;margin-bottom:13px;position: relative;transition: box-shadow 0.5s}
.mi_main .mi_match_main .match_left a img{width:100%;height:100%;}
.mi_main .mi_match_main .match_left a:hover{box-shadow:0 1px 10px #7A7474;top:-2px;}
.mi_main .mi_match_main ul{margin:0px;padding:0px;}
/*隐藏搭配对应的ul默认只显示第一个*/
.mi_main .mi_match_main .hide{display:none;}
.mi_main .mi_match_main ul li{position: relative;overflow:hidden;text-align:center;display: inline-block;margin-left:9px;width:240px;background:white;margin-bottom:10px;height:300px;transition: box-shadow 0.5s}
.mi_main .mi_match_main ul li:hover{box-shadow:0 1px 10px #7A7474;top:-5px;}
.mi_main .mi_match_main  ul li:nth-child(8){background: #F5F5F5;}
.mi_main .mi_match_main  ul li:nth-child(8):hover{top:0px;box-shadow: 0px 0px 0px;}
.mi_main .mi_match_main  ul li:nth-child(8) .top{width:100%;height:140px;background: white;margin-bottom: 20px;position: relative;font-size:12px;transition: box-shadow 0.5s}
.mi_main .mi_match_main  ul li:nth-child(8) .top p{position: absolute;width:90px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;left:20px;top:20px;}
.mi_main .mi_match_main  ul li:nth-child(8) .top span{position: absolute;top:50px;left:30px;}
.mi_main .mi_match_main  ul li:nth-child(8) .top img{width:100px;height:110px;position: absolute;right:20px;top:20px;}
.mi_main .mi_match_main  ul li:nth-child(8) .bottom{width:100%;height:140px;background: white;position: relative;}
.mi_main .mi_match_main  ul li:nth-child(8) .bottom  .more{font-size: 20px;position: absolute;left: 20px;top:60px;}
.mi_main .mi_match_main  ul li:nth-child(8) .bottom  .more span{font-size: 12px;position: absolute;left:0px;color: #757575;}
.mi_main .mi_match_main  ul li:nth-child(8) .bottom .jt{border:3px solid #ff6700;border-radius:50%;width:45px;height:45px;background-image: url(../images_mi/jt.png);background-repeat: no-repeat;background-size: 30px;background-position: 7px 7px;position: absolute;top:50px;right:20px;}
.mi_main .mi_match_main ul li img{width:150px;height:150px;display: block;margin-left: 20%;}
.mi_main .mi_match_main ul li a{color:#333030;letter-spacing: 1px;font-size:12px;}
.mi_main .mi_match_main ul li a .mi_money{color:#ff6700;display: block;line-height: 30px;height:30px;}
.mi_main .mi_match_main ul li a .mi_discuss{color:#757575;display: block;line-height: 20px;}
.mi_main .mi_match_main ul li a .ainmate{text-align: left;width:100%;max-height:0px;position: absolute;background: #ff6700;overflow: hidden;color:white;bottom:0px;transition: max-height 0.5s;}
.mi_main .mi_match_main ul li:hover a .ainmate{max-height:100px;}
.mi_main .mi_match_main ul li a .ainmate p{height:35px;overflow: hidden;padding:0px 25px;letter-spacing:1px;}
.mi_main .mi_match_main ul li a .ainmate span{color:#ddd;display: block;padding-left:30px;padding-bottom:10px;}
/*新品推荐*/
.mi_main .mi_match_main ul li a .hot{background: #83C44E;color:white;display: block;padding:2px 15px;position: absolute;top:0px;left:37%;}
/*折扣*/
.mi_main .mi_match_main ul li a .red{background:#E53935;}
/*包邮*/
.mi_main .mi_match_main ul li a .yellow{ background:#FFAC13;}
/*为您推荐*/
.mi_recommend{background:#F5F5F5;color:#333333;padding-bottom:60px;}
.mi_recommend_1{width:1250px;margin:0px auto;height:25px;padding:5px 0px;margin-bottom: 15px;}
.mi_recommend_1 h1{font-weight: 300;float:left;margin:0px;}
.mi_recommend_1 .right{float: right;margin-top:10px;background-image: url(../images/more_1.png);padding:1px 0px;background-repeat: no-repeat;width:30px;border:1px solid #ddd;background-size: 30px 20px;background-position: 0px -1px;}
.mi_recommend_1 .right_{float: right;margin-top:10px;background-image: url(../images/back.png);padding:1px 0px;;background-repeat: no-repeat;width:30px;border:1px solid #ddd;background-size: 30px 20px;background-position: 0px -1px;}
.mi_recommend_goods{width:1250px;margin:0px auto;overflow: hidden;}
.mi_recommend_goods .mi_re{width:10000px;height:300px;margin-bottom: 15px;}
.mi_recommend_goods .mi_re li{background: white;height:100%;float:left;width:240px;margin-right:12.5px;position: relative;}
.mi_recommend_goods .mi_re li a{display: block;margin:0px auto;height:80%;margin-top:20%;text-align:center;transition: margin-top 0.5s;font-size:15px;}
.mi_recommend_goods .mi_re li a:hover{margin-top:18%;}
.mi_recommend_goods .mi_re li a div{margin-bottom: 7px;}
.mi_recommend_goods .mi_re li a .mi_describe{color:#333333;}
.mi_recommend_goods .mi_re li a .mi_money{color:#ff6700;}
.mi_recommend_goods .mi_re li a .mi_evaluate{color:#757575;}
.mi_recommend_goods .mi_re .items{margin-right:0px;}
/*热点产品*/
.mi_recommend_goods .hot{height:420px;margin-bottom: 15px;}
.mi_recommend_goods .hot li{float:left;background:white;margin-right:12.5px;margin-top:5px;position: relative;width:303px;height:415px;box-shadow:1px 1px 2px #ddd;transition:margin-top 0.5s;}
.mi_recommend_goods .hot li:hover{margin-top:0px;box-shadow:0px 3px 15px #ddd;}
.mi_recommend_goods .hot li a img{width:100%;height:220px;}
.mi_recommend_goods .hot .items{margin-right:0px;}
.mi_recommend_goods .hot li a .img_main{font-size:14px;background:white;width:100%;margin:0px auto;height:190px;}
.mi_recommend_goods .hot li a .img_main .img_container{color:#333333;letter-spacing: 1px;word-break: break-all;width:85%;margin:0px auto;height:90px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.mi_recommend_goods .hot li a .img_main .mi_evaluate{color:#B0B0B0;font-size: 12px;width:85%;margin:10px auto 0px auto;}
.mi_recommend_goods .hot li a .img_main .goods_name{width:85%;margin:10px auto 0px auto;}
.mi_recommend_goods .hot li a .img_main .goods_name .goods{float:left;border-right:1px solid #ddd;padding-right: 15px;color: #333333;}
.mi_recommend_goods .hot li a .img_main .goods_name .goods_{color:#ff6700;padding-left:15px;float:left;}
/*内容*/
.mi_recommend_goods .mi_content{height:420px;margin-bottom: 15px;}
.mi_recommend_goods .mi_content>li{float:left;background: white;text-align:center;margin-right:12.5px;margin-top:5px;position: relative;width: 303px;height:415px;box-shadow:1px 1px 2px #ddd;transition:margin-top 0.5s;}
.mi_recommend_goods .mi_content .items{margin-right:0px;}
.mi_recommend_goods .mi_content>li:hover{margin-top:0px;box-shadow:0px 3px 15px #ddd;}
.mi_recommend_goods .mi_content li>span{font-size:15px;display: block;margin-top:40px;line-height: 30px;}
.mi_recommend_goods .content{width:240px;margin:0px auto;height:300px;overflow: hidden;}
.mi_recommend_goods .mi_content .content ul{width:10000px;height:100%;}
.mi_recommend_goods .mi_content .content ul li{float:left;width:240px;height:100%;position: relative;}
.mi_recommend_goods .mi_content .content ul li a h2{font-size:20px;color:#333333;font-weight: 300;margin-bottom:0px;letter-spacing: 1px;}
.mi_recommend_goods .mi_content .content ul li a p{color:#b0b0b0;width:80%;font-size:12px;margin:8px auto 0px auto;height:50px;}
.mi_recommend_goods .mi_content .content ul li a span{color:#333333;font-size:14px;display: block;}
.mi_recommend_goods .mi_content .content ul li a .end{padding:5px 4px;width:50%;display: block;margin:0px auto;}
.mi_recommend_goods .mi_content .content ul li a img{margin-top:10px;}
/*内容按钮*/
.mi_recommend_goods .content_bot{height:40px;line-height:40px}
.mi_recommend_goods .content_bot span{width:8px;text-indent:-9999px;height:8px;border:2px solid white;margin:15px 0px 0px 15px;border-radius:50%;background: #ddd;display: inline-block;}
/*左右滑动按钮*/
.mi_recommend_goods .mi_content li .left{height:40px;width:20px;position: absolute;top:45%;background:#DCD5D5;background-image: url(../images/back_2.png);background-repeat: no-repeat;background-size:25px;background-position: -3px 8px;display: none;}
.mi_recommend_goods .mi_content li .right{height:40px;width:20px;background:#DCD5D5;position: absolute;top:45%;right:0px;background-image: url(../images/more_2.png);background-repeat: no-repeat;background-size:25px;background-position: 0px 8px;display: none;}
.mi_recommend_goods .mi_content li .left:hover{background-image: url(../images/back_1.png);}
.mi_recommend_goods .mi_content li .right:hover{background-image: url(../images/more_1.png);}
/*底部版权*/
.mi_copyright{width:1250px;margin:0px auto;}
.mi_copyright .mi_delivery{border-bottom: 1px solid #ddd;height:80px;}
.mi_copyright .mi_delivery p{text-align:center;display: inline-block;margin:0px;width:249.2px;margin-top:20px;font-size:17px;line-height:40px;margin-right:-3px;}
.mi_copyright .mi_delivery p a{color:#616161;}
.mi_copyright .mi_delivery p:hover a{color:#ff6700;}
.mi_copyright .mi_delivery .solid{width:1px;background: #ddd;line-height: 25px;}
.mi_copyright .mi_delivery p:nth-child(1){background-image: url(../images_mi/bott_2.png);background-repeat: no-repeat;background-size: 35px;background-position: 18% 2px;}
.mi_copyright .mi_delivery p:nth-child(3){background-image: url(../images_mi/bott_1.png);background-repeat: no-repeat;background-size: 28px;background-position: 16% 5px;}
.mi_copyright .mi_delivery p:nth-child(5){background-image: url(../images_mi/bott_3.png);background-repeat: no-repeat;background-size: 28px;background-position: 18% 5px;}
.mi_copyright .mi_delivery p:nth-child(7){background-image: url(../images_mi/boot_4.png);background-repeat: no-repeat;background-size: 28px;background-position: 18% 5px;}
.mi_copyright .mi_delivery p:nth-child(9){background-image: url(../images_mi/boot_5.png);background-repeat: no-repeat;background-size: 30px;background-position: 15% 4px;}
.mi_copyright .mi_delivery p:nth-child(1):hover{background-image: url(../images_mi/bott_2_2.png);}
.mi_copyright .mi_delivery p:nth-child(3):hover{background-image: url(../images_mi/bott_1_1.png);}
.mi_copyright .mi_delivery p:nth-child(5):hover{background-image: url(../images_mi/bott_3_3.png);}
.mi_copyright .mi_delivery p:nth-child(7):hover{background-image: url(../images_mi/bott_4_4.png);}
.mi_copyright .mi_delivery p:nth-child(9):hover{background-image: url(../images_mi/boot_5_5.png);}
/*版权列表*/
.mi_copyright_row{width:100%;height:150px;padding-bottom: 30px;}
.mi_copyright .mi_copyright_left{margin-top:30px;width:999px;border-right:1px solid #ddd;float:left;}
.mi_copyright .mi_copyright_left .copyright_item{display: inline-block;width:165px;margin-right: -2px;}
.mi_copyright .mi_copyright_left .copyright_item p:nth-child(1){margin-bottom: 20px;}
.mi_copyright .mi_copyright_left .copyright_item p{color: #424242;font-size:16px;margin:5px 0px 0px 0px;}
.mi_copyright .mi_copyright_left .copyright_item p a{color:#757575;font-size:12px;}
.mi_copyright .mi_copyright_left .copyright_item p a:hover{color:#ff6700;}
.mi_copyright .mi_copyright_right{margin-top:30px;width:245px;text-align:center;float:left;overflow:hidden;}
.mi_copyright .mi_copyright_right .phone{color:#ff6700;font-size:21px;font-weight:500;margin:0px;}
.mi_copyright .mi_copyright_right .serve-time{color: #424242;font-size:12px;margin:3px 0px 0px 0px;}
.mi_copyright .mi_copyright_right .message{border:1px solid #ff6700;font-size:13px;width:130px;margin:15px auto 0px auto;background-image: url(../images_mi/message.png);background-repeat:no-repeat;background-size: 13px;background-position: 4px 10px;}
.mi_copyright .mi_copyright_right .message a{color:#ff6700;padding:6px 0px;display: block;}
.mi_copyright .mi_copyright_right .message:hover{background-image: url(../images_mi/message_1.png);background-color: #ff6700;}
.mi_copyright .mi_copyright_right .message:hover a{color:white;}
/*版权声明最底部*/
.copyright_bottom{background: #fafafa;background-image: url(../images_mi/copyright_bottom.png);background-repeat:no-repeat;background-position: 50% 80%;}
.copyright_bottom .copyright_bottom_main{width:1250px;height:130px;margin:0px auto;padding-top:30px;background-image: url(../images/mi_logo.png);background-repeat: no-repeat;background-position: 0px 30px;}
.copyright_bottom .copyright_bottom_main .copyright_left{margin-left: 70px;float:left;height:57px;width:800px;}
.copyright_bottom .copyright_bottom_main .copyright_left ul li{display: inline-block;padding:0px 2px;}
.copyright_bottom .copyright_bottom_main .copyright_left a{color:#757575;font-size:12px;}
.copyright_bottom .copyright_bottom_main .copyright_left a:hover{color:#ff6700;}
.copyright_bottom .copyright_bottom_main .copyright_left p{margin: 2px 0px 0px 0px;color: #B0B0B0;letter-spacing: 0.5px;}
.copyright_bottom .copyright_bottom_main .copyright_left p a{color: #B0B0B0;font-size: 11px}
.copyright_bottom .copyright_bottom_main .copyright_left ul .item{border-right:1px solid #ddd;padding:0px;width:1px;}
.copyright_bottom .copyright_bottom_main .copyright_right{float:left;height:57px;overflow: hidden;}
.copyright_bottom .copyright_bottom_main .copyright_right img{width:85px;height:28px;}
/*video-heda*/
.mi_recommend_1 a{float:right;margin-top:7px;font-size:16px;font-weight:500;line-height:25px;color:#333333;}
.mi_recommend_1 a span{border-radius:50%;background-color:#B0B0B0;background-image:url(../images_mi/more.png);background-repeat:no-repeat;display: inline-block;width:24px;height:24px;background-size:20px;background-position: 3px 2px;margin-left:-3px;}
.mi_recommend_1 a:hover{color:#ff6700;}
.mi_recommend_1 a:hover span{background-color:#ff6700;}
/*视频列表*/
.video-main{width:1250px;margin:0px auto;}
.video-main ul{width:100%;height:300px;}
.video-main ul li{float:left;height: 100%;text-align: center;background: white;width:303px;margin-right: 12.5px;transition: margin-top 0.5s,box-shadow 0.5s;}
.video-main ul li:nth-child(4){margin:0px;transition: margin-top 0.5s,box-shadow 0.5s;}
.video-main ul li:hover{margin-top:-5px;box-shadow: 0px 3px 15px #ddd;}
.video-main ul li .mi_video{height:180px;padding:0px;display: block;position: relative;}
.video-main ul li .mi_video>img{width:100%;}
.video-main ul li .mi_video i{display:block;position:absolute;border:2px solid white;border-radius:20px;left:20px;top:130px;height:20px;width:30px;background:rgba(6,6,6,0.5);}
.video-main ul li .mi_video i img{width:20px;height:15px;margin: 2px 0px 0px 5px;}
.video-main ul li .title{margin-top:40px;font-size:14px;color:#333333;display: block;margin-bottom: 8px;}
.video-main ul li .title:hover{color:#ff6700;}
.video-main ul li span{color:#B0B0B0;letter-spacing: 0.5px;}
/*video show*/
#video{top:0px;background:rgba(7,7,6,0.5);position:fixed;width:100%;height:100%;display: none;}
#video #video-vessel{width:880px;height:590px;position: relative;background: #F5F5F5;margin:0px auto;top:3.5%;display: none;}
#video #video-vessel span{display:block;position: absolute;top:12px;left:15px;font-size:17px;color: #424242;}
#video #video-vessel a{width:30px;height:30px;display:block;position: absolute;top:12px;border-radius:50%;right:10px;background-image: url(../images_mi/colse.png);background-repeat: no-repeat;background-size:30px;}
#video #video-vessel a:hover{background-color:red;background-image: url(../images_mi/colse_1.png);}
#video #video-vessel iframe{position:absolute;bottom:0px;border:0px;}